*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 20px
}

h1{
} */
h1{
    display: inline-block;
    
}
.App{
    margin: 20px;
}

button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
}
button:hover{
    cursor: pointer;

}

.item-cart{
    display: inline-block;
    margin: 20px;
}
img{
    display: inline-block;
    width: 150px;
}
.App{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
