@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,300&family=Roboto:wght@300;500;700;900&family=Lobster&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Freckle Face', cursive;
 */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background:linear-gradient(to right,rgb(43, 41, 41),rgb(7, 7, 124),blue);
}

html {
    font-size: 62.5%;
}

/*###############################3---- utility properties   ##########################################3 */

li, p, button, a {
    font-size: 1.6rem;
    letter-spacing: 0.15rem;
}

h1, h2, h3 {
    letter-spacing: 0.15rem;
    margin-bottom: 0.5em;
    text-transform: capitalize;

}

button {
    border: none;
    background: transparent;
}


.card-container {
    background: rgb(87, 223, 160);
    max-width: 950px;
    margin: 20px auto 0 auto;
    padding: 10px;
}


.fluid-container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

/*###############################3---- Navbar styling   ##########################################3 */

.nav {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background:transparent;
    padding: 8px 20px;
    border-radius: 3px;
    margin-top: 10px;
}

.nav li {
    list-style: none;
}

.nav .items {
    display: flex;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    letter-spacing: 2px;
}

span {
    color: blue;
}

button:hover {
    cursor: pointer;
}

.nav li .btn {
    border: none;
    font-size: 1.7rem;
    border-radius: none;
    letter-spacing: 1px;
    padding: 5px 10px;
    margin: 3px 10px;
}
li .btn-movies, li .btn-favourites {
    background: rgb(28, 4, 247);
    border-radius: 3px;
    color: #fff;
}
/* ##################### movie Card styling is here ###################333 */
.movie-card {
    max-width: 850px;
    min-width: 360px;
    margin: 10px auto 0 auto;
    height: 220px;
    display: flex;
    justify-content: space-between;
    background: rgb(3, 238, 168);
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 8%), 0px 0px 8px 1px rgb(0 0 0 / 25%);
    border-radius: 2px;

}

/* action left all styling is here  */
.action-left {
    width: 25%;
}
.action-left img {
    width: 100%;
    display: block;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
}


/* action right all styling is here */

.action-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.item-top {
    font-family: 'Roboto', sans-serif;
}

.item-top h1 {
    font-weight: 700;
    color: rgb(255, 188, 0);
    letter-spacing: 0;
}

.item-top h1::first-letter{
    text-transform: uppercase;
}

.item-bottom {
    display: flex;
    justify-content: space-between;
}
.btn-fav {
    background: rgb(255, 188, 0);
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0px 5px;
}




